 <div class="columns is-centered">
        <div class="column is-narrow">
            <% if Transaction.where(user_id: current_user.id).present? %>
                <table class = "table">

                    <thead>
                        <th> Date </th>
                        <th> Symbol </th>
                        <th> Quantity </th>
                        <th> Total Amount </th>
                    </thead>

                    <tbody>
                        <% @transactions = (current_user.role_id === 1) ? Transaction.all : Transaction.where(user_id: current_user.id)%>
                        <% @transactions.each do |transaction| %>
                            <% stock = Stock.find_by(id: transaction.stock_id)%>

                            <tr>
                                <% quote = @client.quote(stock.symbol) %>
                                <td> <%= "#{time_ago_in_words(transaction.created_at)}"%> </td>
                                <td> <%= "#{stock.symbol}"%> </td>
                                <td> <%= "#{transaction.quantity}"%> </td>
                                <td> <%= "#{transaction.total_amount * transaction.quantity}"%> </td>
                            </tr>

                        <% end %>
                    </tbody>

                </table>
            <% end %>
        </div>
    </div>