@import "bootstrap/dist/css/bootstrap";
@import "font-awesome";

html,
body {
  height: 100%;
}

.page_content {
  height: 71.5vh;
}

#sticky-footer {
  flex-shrink: none;
}

.message {
  height: 4rem;
}
