<footer id="sticky-footer" class="py-3 bg-dark text-white">
<div class="container text-center">
<div class="about">
 <div class="social-media">
    <ul class="list-inline d-flex justify-content-center mb-1">
      <li><a href="#" title=""><i class="fa fa-facebook  p-1"></i></a></li>
      <li><a href="#" title=""><i class="fa fa-twitter  p-1"></i></a></li>
      <li><a href="#" title=""><i class="fa fa-google-plus  p-1"></i></a></li>
      <li><a href="#" title=""><i class="fa fa-linkedin  p-1"></i></a></li>
    </ul>
  </div>
  <p class="mb-1">
    <small>
      This app is powered by Ruby in Rails, Bootstrap, CSS and HTML. 
      Developed by Ronniel and J.C Salas.
    </small>
  </p>
</div>
</div>

<section class="copyright mb-0">
<div class="container text-center ">
<p class="mb-0"><small>Copyright © 2021.</small></p>
</div>
</section>
</footer>